<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="ChatEndPoint" address="net.p2p://chatMesh/ChatServer"
                binding="netPeerTcpBinding" bindingConfiguration="PeerTcpConfig"
                contract="ChatClient.IChatService"></endpoint>
     
      <!--<endpoint name="CustomPeerResolver" address="net.tcp://10.34.34.241/ChatServer"
                binding="netTcpBinding" bindingConfiguration="TcpConfig"
                contract="ChatClient.ICustomPeerResolver"></endpoint>-->
   </client>

    <bindings>
      <netPeerTcpBinding>
        <binding name="PeerTcpConfig" port="0">
          <security mode="None"></security>
          <resolver mode="Custom">
            <custom address="net.tcp://10.34.34.241/ChatServer" binding="netTcpBinding"
                    bindingConfiguration="TcpConfig"></custom>
          </resolver>
        </binding>
        <!--<binding name="BindingDefault" port="0">
          <security mode="None"></security>
          <resolver mode="Auto"></resolver>
        </binding>-->
      </netPeerTcpBinding>
      <netTcpBinding>
        <binding name="TcpConfig">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>